/* Navbar */
.right div{
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}
.right div:hover{
    background-color: rgb(155, 90, 5);
    border-radius: 12px;
}

/* Popular slider */
.slider{
    perspective: 800px;
    outline: none;
}
.slider img{
    transition: transform 0.3s ease;
}
.slider img:hover{
    transform: translateZ(145px);
    /* transform: translate3d(200px) */

}

/* Trending slider */
.slider2{
    perspective: 800px;
    outline: none;
}
.slider2 img{
    transition: transform 0.3s ease;
}
.slider2 img:hover{
    transform: translateZ(150px);
    /* transform: translate3d(200px) */

}